.landing-page {
    text-align: center;
    padding: 20px;
  }
  
  .title {
    margin-bottom: 40px;
    font-size: 2.5em;
    font-weight: bold;
    color: #343a40; /* Dark gray color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .category-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .category-card {
    width: 100%;
    padding: 20px;
    background-color: #007BFF;
    color: white;
    border-radius: 10px;
  }
  
  .category-card a {
    color: white;
    text-decoration: none;
  }
  
  .leaderboard {
    margin-top: 50px;
  }
  
