.landing-page {
    text-align: center;
    padding: 20px;
  }
  
  .title {
    margin-bottom: 50px;
    font-size: 3em; /* Increased font size */
    font-weight: 800; /* Bolder weight */
    color: #ffffff; /* Light color for contrast */
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3); /* More pronounced shadow */
    background-color: #007bff; /* Contrasting background */
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
  }
  
  .category-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .category-card {
    width: 100%;
    padding: 20px;
    background-color: #007BFF;
    color: white;
    border-radius: 10px;
  }

  h2, .leaderboard h2 {
    font-size: 2.5em; /* Increased font size for better visibility */
    font-weight: 800; /* Increased weight for more emphasis */
    color: #343a40; /* Darker color for better contrast */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Text shadow for depth */
    margin-bottom: 30px; /* Increased space below the header */
    padding: 10px 0; /* Padding for better spacing */
    background-color: #f8f9fa; /* Light background to stand out */
    border-radius: 5px; /* Rounded corners for aesthetic */
    display: inline-block; /* To apply padding and border-radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
  }
  
  .category-card a {
    color: white;
    text-decoration: none;
  }
  
  .leaderboard {
    margin-top: 50px;
  }
  
